In [2]:
import pandas as pd
data = pd.read_csv(r'C:\Users\Admin\resources\students.csv',encoding = 'utf-8')
data
#thêm r để tránh hiểu \ là dấu escape, utf-8 là tiếng việt

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
0,20205210,Nguyễn Đức Bình,3/10/2000,Nam,Hà Nội,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5
1,20205211,Lê Minh Hoàng,2/11/2001,Nam,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0
2,20205212,Trần Trang Nhung,7/5/2002,Nữ,Hà Nam,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5
3,20205213,Nguyễn Thị Linh,12/17/2000,Nữ,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0
4,20205214,Đặng Ngọc Sơn,1/25/2000,Nam,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8
5,20205215,Hà Trung Kiên,4/3/2000,Nam,Hà Nội,5.6,7.0,5.6,5.0,6.4,3.8,8.0,4.9
6,20205216,Võ Hoàng Yến,6/21/2000,Nữ,Nam Định,6.7,6.8,7.3,6.0,6.7,8.0,9.5,7.6
7,20205217,Hoàng Trung Sơn,8/27/2000,Nam,Bắc Ninh,7.5,9.0,7.0,2.0,5.2,2.0,7.0,6.5
8,20205218,Nguyễn Văn Thành,5/20/2000,Nam,Hà Nội,7.0,7.4,6.4,9.0,8.5,9.2,8.4,7.8
9,20205219,Nguyễn Thanh Oai,5/25/2000,Nam,Hà Nội,8.2,7.0,8.7,6.5,4.8,4.6,4.8,5.5

In [2]:
type(data)

pandas.core.frame.DataFrame

In [3]:
#Thêm cột
data['Khối A'] = data['Toán'] + data['Lý']+ data['Hoá']
data

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh,Khối A
0,20205210,Nguyễn Đức Bình,3/10/2000,Nam,Hà Nội,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5,23.8
1,20205211,Lê Minh Hoàng,2/11/2001,Nam,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0,19.3
2,20205212,Trần Trang Nhung,7/5/2002,Nữ,Hà Nam,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5,16.1
3,20205213,Nguyễn Thị Linh,12/17/2000,Nữ,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0,20.1
4,20205214,Đặng Ngọc Sơn,1/25/2000,Nam,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8,22.6
5,20205215,Hà Trung Kiên,4/3/2000,Nam,Hà Nội,5.6,7.0,5.6,5.0,6.4,3.8,8.0,4.9,18.2
6,20205216,Võ Hoàng Yến,6/21/2000,Nữ,Nam Định,6.7,6.8,7.3,6.0,6.7,8.0,9.5,7.6,20.8
7,20205217,Hoàng Trung Sơn,8/27/2000,Nam,Bắc Ninh,7.5,9.0,7.0,2.0,5.2,2.0,7.0,6.5,23.5
8,20205218,Nguyễn Văn Thành,5/20/2000,Nam,Hà Nội,7.0,7.4,6.4,9.0,8.5,9.2,8.4,7.8,20.8
9,20205219,Nguyễn Thanh Oai,5/25/2000,Nam,Hà Nội,8.2,7.0,8.7,6.5,4.8,4.6,4.8,5.5,23.9

In [4]:
#ẩn cột
df = data.drop(columns=['Họ tên', 'Ngày sinh', 'Quê quán', 'Giới tính'])
df

   Mã học sinh  Toán   Lý  Hoá  Sinh  Văn  Sử   Địa  Tiếng Anh  Khối A
0     20205210   7.0  8.0  8.8   6.8  4.0  5.4  5.6        8.5    23.8
1     20205211   5.6  7.7  6.0   7.0  6.5  6.0  3.4        9.0    19.3
2     20205212   4.2  6.5  5.4   8.0  7.0  7.5  4.3        5.5    16.1
3     20205213   8.0  5.6  6.5   7.0  7.5  6.5  5.6        6.0    20.1
4     20205214   9.3  5.8  7.5   4.5  6.5  4.5  7.8        3.8    22.6
5     20205215   5.6  7.0  5.6   5.0  6.4  3.8  8.0        4.9    18.2
6     20205216   6.7  6.8  7.3   6.0  6.7  8.0  9.5        7.6    20.8
7     20205217   7.5  9.0  7.0   2.0  5.2  2.0  7.0        6.5    23.5
8     20205218   7.0  7.4  6.4   9.0  8.5  9.2  8.4        7.8    20.8
9     20205219   8.2  7.0  8.7   6.5  4.8  4.6  4.8        5.5    23.9

In [5]:
#Lưu file
df.to_csv(r'C:\Users\Admin\resources\studentsA.csv',encoding = 'utf-8')

In [6]:
df.to_csv(r'C:\Users\Admin\resources\studentsB.csv',encoding = 'utf-8-sig')

In [7]:
df.head(3)

   Mã học sinh  Toán   Lý  Hoá  Sinh  Văn  Sử   Địa  Tiếng Anh  Khối A
0     20205210   7.0  8.0  8.8   6.8  4.0  5.4  5.6        8.5    23.8
1     20205211   5.6  7.7  6.0   7.0  6.5  6.0  3.4        9.0    19.3
2     20205212   4.2  6.5  5.4   8.0  7.0  7.5  4.3        5.5    16.1

In [8]:
#Đổi tên cột, inplace = True sửa lên chính dataframe, inplace = False sẽ tạo ra một bản copy và sủa trên đó
df.rename(columns={'Văn': 'Ngữ Văn', 'Tiếng Anh':'Anh Văn'}, inplace=True)
df.head(3)

   Mã học sinh  Toán   Lý  Hoá  Sinh  Ngữ Văn  Sử   Địa  Anh Văn  Khối A
0     20205210   7.0  8.0  8.8   6.8      4.0  5.4  5.6      8.5    23.8
1     20205211   5.6  7.7  6.0   7.0      6.5  6.0  3.4      9.0    19.3
2     20205212   4.2  6.5  5.4   8.0      7.0  7.5  4.3      5.5    16.1

In [9]:
index = {i:10*i for i in range(10)}
index

{0: 0, 1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60, 7: 70, 8: 80, 9: 90}

In [10]:
#Sửa tên index
df.rename(index={i:10*i for i in range(10)}, inplace = True)
df

    Mã học sinh  Toán   Lý  Hoá  Sinh  Ngữ Văn  Sử   Địa  Anh Văn  Khối A
0      20205210   7.0  8.0  8.8   6.8      4.0  5.4  5.6      8.5    23.8
10     20205211   5.6  7.7  6.0   7.0      6.5  6.0  3.4      9.0    19.3
20     20205212   4.2  6.5  5.4   8.0      7.0  7.5  4.3      5.5    16.1
30     20205213   8.0  5.6  6.5   7.0      7.5  6.5  5.6      6.0    20.1
40     20205214   9.3  5.8  7.5   4.5      6.5  4.5  7.8      3.8    22.6
50     20205215   5.6  7.0  5.6   5.0      6.4  3.8  8.0      4.9    18.2
60     20205216   6.7  6.8  7.3   6.0      6.7  8.0  9.5      7.6    20.8
70     20205217   7.5  9.0  7.0   2.0      5.2  2.0  7.0      6.5    23.5
80     20205218   7.0  7.4  6.4   9.0      8.5  9.2  8.4      7.8    20.8
90     20205219   8.2  7.0  8.7   6.5      4.8  4.6  4.8      5.5    23.9

In [11]:
#Thêm cột mới
df['Khối B'] = df['Toán'] + df['Lý']+ df['Sinh']
df.head(3)

,Mã học sinh,Toán,Lý,Hoá,Sinh,Ngữ Văn,Sử,Địa,Anh Văn,Khối A,Khối B
0,20205210,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5,23.8,21.8
10,20205211,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0,19.3,20.3
20,20205212,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5,16.1,18.7

In [12]:
#Thêm cột mới
df.insert(10,'Khối A1',pd.Series('10',index=df.index))

In [13]:
df

,Mã học sinh,Toán,Lý,Hoá,Sinh,Ngữ Văn,Sử,Địa,Anh Văn,Khối A,Khối A1,Khối B
0,20205210,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5,23.8,10,21.8
10,20205211,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0,19.3,10,20.3
20,20205212,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5,16.1,10,18.7
30,20205213,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0,20.1,10,20.6
40,20205214,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8,22.6,10,19.6
50,20205215,5.6,7.0,5.6,5.0,6.4,3.8,8.0,4.9,18.2,10,17.6
60,20205216,6.7,6.8,7.3,6.0,6.7,8.0,9.5,7.6,20.8,10,19.5
70,20205217,7.5,9.0,7.0,2.0,5.2,2.0,7.0,6.5,23.5,10,18.5
80,20205218,7.0,7.4,6.4,9.0,8.5,9.2,8.4,7.8,20.8,10,23.4
90,20205219,8.2,7.0,8.7,6.5,4.8,4.6,4.8,5.5,23.9,10,21.7

In [14]:
#Thêm dòng thì dùng cú pháp append, inplace = True tự động match index và các cột
row ={'Mã học sinh':'20205120','Toán':10,'Lý':10,'Hoá':10,'Sinh':10,'Ngữ Văn':10,'Sử ':10,'Địa':10,'Anh Văn':10}
df = df.append(row,ignore_index = True)
df.tail(3)

C:\Users\Admin\AppData\Local\Temp\ipykernel_3496\1534042965.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index = True)

,Mã học sinh,Toán,Lý,Hoá,Sinh,Ngữ Văn,Sử,Địa,Anh Văn,Khối A,Khối A1,Khối B
8,20205218,7.0,7.4,6.4,9.0,8.5,9.2,8.4,7.8,20.8,10,23.4
9,20205219,8.2,7.0,8.7,6.5,4.8,4.6,4.8,5.5,23.9,10,21.7
10,20205120,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,NaN,NaN,NaN

In [15]:
df_demo=pd.DataFrame([{'A':12,'B':20}])
df_demo

    A   B
0  12  20

In [16]:
df_demo=df_demo.append({'A':25,'B':42}, ignore_index = True)
df_demo

C:\Users\Admin\AppData\Local\Temp\ipykernel_3496\803908569.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_demo=df_demo.append({'A':25,'B':42}, ignore_index = True)

    A   B
0  12  20
1  25  42

In [17]:
#Xóa cột
del df['Sử ']

In [18]:
df

,Mã học sinh,Toán,Lý,Hoá,Sinh,Ngữ Văn,Địa,Anh Văn,Khối A,Khối A1,Khối B
0,20205210,7.0,8.0,8.8,6.8,4.0,5.6,8.5,23.8,10,21.8
1,20205211,5.6,7.7,6.0,7.0,6.5,3.4,9.0,19.3,10,20.3
2,20205212,4.2,6.5,5.4,8.0,7.0,4.3,5.5,16.1,10,18.7
3,20205213,8.0,5.6,6.5,7.0,7.5,5.6,6.0,20.1,10,20.6
4,20205214,9.3,5.8,7.5,4.5,6.5,7.8,3.8,22.6,10,19.6
5,20205215,5.6,7.0,5.6,5.0,6.4,8.0,4.9,18.2,10,17.6
6,20205216,6.7,6.8,7.3,6.0,6.7,9.5,7.6,20.8,10,19.5
7,20205217,7.5,9.0,7.0,2.0,5.2,7.0,6.5,23.5,10,18.5
8,20205218,7.0,7.4,6.4,9.0,8.5,8.4,7.8,20.8,10,23.4
9,20205219,8.2,7.0,8.7,6.5,4.8,4.8,5.5,23.9,10,21.7
10,20205120,10.0,10.0,10.0,10.0,10.0,10.0,10.0,NaN,NaN,NaN

In [19]:
#Xóa cột bằng phương thức pop
deleted_col = df.pop('Khối B')

In [20]:
df

   Mã học sinh  Toán    Lý   Hoá  Sinh  Ngữ Văn   Địa  Anh Văn  Khối A Khối A1
0     20205210   7.0   8.0   8.8   6.8      4.0   5.6      8.5    23.8      10
1     20205211   5.6   7.7   6.0   7.0      6.5   3.4      9.0    19.3      10
2     20205212   4.2   6.5   5.4   8.0      7.0   4.3      5.5    16.1      10
3     20205213   8.0   5.6   6.5   7.0      7.5   5.6      6.0    20.1      10
4     20205214   9.3   5.8   7.5   4.5      6.5   7.8      3.8    22.6      10
5     20205215   5.6   7.0   5.6   5.0      6.4   8.0      4.9    18.2      10
6     20205216   6.7   6.8   7.3   6.0      6.7   9.5      7.6    20.8      10
7     20205217   7.5   9.0   7.0   2.0      5.2   7.0      6.5    23.5      10
8     20205218   7.0   7.4   6.4   9.0      8.5   8.4      7.8    20.8      10
9     20205219   8.2   7.0   8.7   6.5      4.8   4.8      5.5    23.9      10
10    20205120  10.0  10.0  10.0  10.0     10.0  10.0     10.0     NaN     NaN

In [21]:
deleted_col

0     21.8
1     20.3
2     18.7
3     20.6
4     19.6
5     17.6
6     19.5
7     18.5
8     23.4
9     21.7
10     NaN
Name: Khối B, dtype: float64

In [22]:
#Sử dụng phương thức drop
df.drop('Khối A1',axis = 1, inplace = True)

In [23]:
df

   Mã học sinh  Toán    Lý   Hoá  Sinh  Ngữ Văn   Địa  Anh Văn  Khối A
0     20205210   7.0   8.0   8.8   6.8      4.0   5.6      8.5    23.8
1     20205211   5.6   7.7   6.0   7.0      6.5   3.4      9.0    19.3
2     20205212   4.2   6.5   5.4   8.0      7.0   4.3      5.5    16.1
3     20205213   8.0   5.6   6.5   7.0      7.5   5.6      6.0    20.1
4     20205214   9.3   5.8   7.5   4.5      6.5   7.8      3.8    22.6
5     20205215   5.6   7.0   5.6   5.0      6.4   8.0      4.9    18.2
6     20205216   6.7   6.8   7.3   6.0      6.7   9.5      7.6    20.8
7     20205217   7.5   9.0   7.0   2.0      5.2   7.0      6.5    23.5
8     20205218   7.0   7.4   6.4   9.0      8.5   8.4      7.8    20.8
9     20205219   8.2   7.0   8.7   6.5      4.8   4.8      5.5    23.9
10    20205120  10.0  10.0  10.0  10.0     10.0  10.0     10.0     NaN

In [24]:
#Xóa dòng sử dụng drop với axis = 0
df.drop(10, axis =0, inplace = True)
df

  Mã học sinh  Toán   Lý  Hoá  Sinh  Ngữ Văn  Địa  Anh Văn  Khối A
0    20205210   7.0  8.0  8.8   6.8      4.0  5.6      8.5    23.8
1    20205211   5.6  7.7  6.0   7.0      6.5  3.4      9.0    19.3
2    20205212   4.2  6.5  5.4   8.0      7.0  4.3      5.5    16.1
3    20205213   8.0  5.6  6.5   7.0      7.5  5.6      6.0    20.1
4    20205214   9.3  5.8  7.5   4.5      6.5  7.8      3.8    22.6
5    20205215   5.6  7.0  5.6   5.0      6.4  8.0      4.9    18.2
6    20205216   6.7  6.8  7.3   6.0      6.7  9.5      7.6    20.8
7    20205217   7.5  9.0  7.0   2.0      5.2  7.0      6.5    23.5
8    20205218   7.0  7.4  6.4   9.0      8.5  8.4      7.8    20.8
9    20205219   8.2  7.0  8.7   6.5      4.8  4.8      5.5    23.9

In [25]:
#Xóa nhiều dòng
df.drop([8,9], axis =0, inplace = True)

In [26]:
df

  Mã học sinh  Toán   Lý  Hoá  Sinh  Ngữ Văn  Địa  Anh Văn  Khối A
0    20205210   7.0  8.0  8.8   6.8      4.0  5.6      8.5    23.8
1    20205211   5.6  7.7  6.0   7.0      6.5  3.4      9.0    19.3
2    20205212   4.2  6.5  5.4   8.0      7.0  4.3      5.5    16.1
3    20205213   8.0  5.6  6.5   7.0      7.5  5.6      6.0    20.1
4    20205214   9.3  5.8  7.5   4.5      6.5  7.8      3.8    22.6
5    20205215   5.6  7.0  5.6   5.0      6.4  8.0      4.9    18.2
6    20205216   6.7  6.8  7.3   6.0      6.7  9.5      7.6    20.8
7    20205217   7.5  9.0  7.0   2.0      5.2  7.0      6.5    23.5

In [27]:
#truy cập 1 dòng
df.iloc[1]

Mã học sinh    20205211
Toán                5.6
Lý                  7.7
Hoá                 6.0
Sinh                7.0
Ngữ Văn             6.5
Địa                 3.4
Anh Văn             9.0
Khối A             19.3
Name: 1, dtype: object

In [31]:
#Truy cập nhiều dòng thì đặt trong list
df.iloc[[1,3,5,7]]

  Mã học sinh  Toán   Lý  Hoá  Sinh  Ngữ Văn  Địa  Anh Văn  Khối A
1    20205211   5.6  7.7  6.0   7.0      6.5  3.4      9.0    19.3
3    20205213   8.0  5.6  6.5   7.0      7.5  5.6      6.0    20.1
5    20205215   5.6  7.0  5.6   5.0      6.4  8.0      4.9    18.2
7    20205217   7.5  9.0  7.0   2.0      5.2  7.0      6.5    23.5

In [32]:
#Truy cập cột
df['Toán']

0    7.0
1    5.6
2    4.2
3    8.0
4    9.3
5    5.6
6    6.7
7    7.5
Name: Toán, dtype: float64

In [33]:
#Truy cập nhiều cột thì đặt trong list
df[['Toán','Lý']]

   Toán   Lý
0   7.0  8.0
1   5.6  7.7
2   4.2  6.5
3   8.0  5.6
4   9.3  5.8
5   5.6  7.0
6   6.7  6.8
7   7.5  9.0

In [35]:
df.iloc[:,[1,2]]

   Toán   Lý
0   7.0  8.0
1   5.6  7.7
2   4.2  6.5
3   8.0  5.6
4   9.3  5.8
5   5.6  7.0
6   6.7  6.8
7   7.5  9.0

In [36]:
#Nhiều cột, nhiều hàng liên tục
df.iloc[:3,1:]

   Toán   Lý  Hoá  Sinh  Ngữ Văn  Địa  Anh Văn  Khối A
0   7.0  8.0  8.8   6.8      4.0  5.6      8.5    23.8
1   5.6  7.7  6.0   7.0      6.5  3.4      9.0    19.3
2   4.2  6.5  5.4   8.0      7.0  4.3      5.5    16.1

In [37]:
#Nhiều cột, nhiều hàng liên tục
df.iloc[[1,3,5],[1,3,5]]

   Toán  Hoá  Ngữ Văn
1   5.6  6.0      6.5
3   8.0  6.5      7.5
5   5.6  5.6      6.4

In [38]:
#Truy cập các phần tử tại cột thỏa mãn điều kiện nào đó
df.loc[df.loc[:,'Toán']>=7]

  Mã học sinh  Toán   Lý  Hoá  Sinh  Ngữ Văn  Địa  Anh Văn  Khối A
0    20205210   7.0  8.0  8.8   6.8      4.0  5.6      8.5    23.8
3    20205213   8.0  5.6  6.5   7.0      7.5  5.6      6.0    20.1
4    20205214   9.3  5.8  7.5   4.5      6.5  7.8      3.8    22.6
7    20205217   7.5  9.0  7.0   2.0      5.2  7.0      6.5    23.5

In [39]:
df

  Mã học sinh  Toán   Lý  Hoá  Sinh  Ngữ Văn  Địa  Anh Văn  Khối A
0    20205210   7.0  8.0  8.8   6.8      4.0  5.6      8.5    23.8
1    20205211   5.6  7.7  6.0   7.0      6.5  3.4      9.0    19.3
2    20205212   4.2  6.5  5.4   8.0      7.0  4.3      5.5    16.1
3    20205213   8.0  5.6  6.5   7.0      7.5  5.6      6.0    20.1
4    20205214   9.3  5.8  7.5   4.5      6.5  7.8      3.8    22.6
5    20205215   5.6  7.0  5.6   5.0      6.4  8.0      4.9    18.2
6    20205216   6.7  6.8  7.3   6.0      6.7  9.5      7.6    20.8
7    20205217   7.5  9.0  7.0   2.0      5.2  7.0      6.5    23.5

In [40]:
#Cập nhật các giá trị trên DataFrame
#Chỉnh sửa tất cả 7.0 trong DataFrame thành 7.2
df.replace(7,7.2,inplace=True)
df

  Mã học sinh  Toán   Lý  Hoá  Sinh  Ngữ Văn  Địa  Anh Văn  Khối A
0    20205210   7.2  8.0  8.8   6.8      4.0  5.6      8.5    23.8
1    20205211   5.6  7.7  6.0   7.2      6.5  3.4      9.0    19.3
2    20205212   4.2  6.5  5.4   8.0      7.2  4.3      5.5    16.1
3    20205213   8.0  5.6  6.5   7.2      7.5  5.6      6.0    20.1
4    20205214   9.3  5.8  7.5   4.5      6.5  7.8      3.8    22.6
5    20205215   5.6  7.2  5.6   5.0      6.4  8.0      4.9    18.2
6    20205216   6.7  6.8  7.3   6.0      6.7  9.5      7.6    20.8
7    20205217   7.5  9.0  7.2   2.0      5.2  7.2      6.5    23.5

In [41]:
#Cập nhật trên cột cụ thể
df['Toán'].replace(6.7,7,inplace=True)
df

  Mã học sinh  Toán   Lý  Hoá  Sinh  Ngữ Văn  Địa  Anh Văn  Khối A
0    20205210   7.2  8.0  8.8   6.8      4.0  5.6      8.5    23.8
1    20205211   5.6  7.7  6.0   7.2      6.5  3.4      9.0    19.3
2    20205212   4.2  6.5  5.4   8.0      7.2  4.3      5.5    16.1
3    20205213   8.0  5.6  6.5   7.2      7.5  5.6      6.0    20.1
4    20205214   9.3  5.8  7.5   4.5      6.5  7.8      3.8    22.6
5    20205215   5.6  7.2  5.6   5.0      6.4  8.0      4.9    18.2
6    20205216   7.0  6.8  7.3   6.0      6.7  9.5      7.6    20.8
7    20205217   7.5  9.0  7.2   2.0      5.2  7.2      6.5    23.5

In [42]:
#Tính số lượng giá trị từng cột
df.count()

Mã học sinh    8
Toán           8
Lý             8
Hoá            8
Sinh           8
Ngữ Văn        8
Địa            8
Anh Văn        8
Khối A         8
dtype: int64

In [43]:
#Tính số lượng giá trị cột Toán
df['Toán'].count()

8

In [44]:
#Tính số lượng giá trị điểm Toán trên 8
df['Toán'][df['Toán']>=8].count()

2

In [45]:
df.min()

Mã học sinh    20205210
Toán                4.2
Lý                  5.6
Hoá                 5.4
Sinh                2.0
Ngữ Văn             4.0
Địa                 3.4
Anh Văn             3.8
Khối A             16.1
dtype: object

In [46]:
df.max()

Mã học sinh    20205217
Toán                9.3
Lý                  9.0
Hoá                 8.8
Sinh                8.0
Ngữ Văn             7.5
Địa                 9.5
Anh Văn             9.0
Khối A             23.8
dtype: object

In [47]:
#Giá trị xuất hiện nhiều nhất của biến định lượng
df.mode()

  Mã học sinh  Toán   Lý  Hoá  Sinh  Ngữ Văn  Địa  Anh Văn  Khối A
0    20205210   5.6  5.6  5.4   7.2      6.5  5.6      3.8    16.1
1    20205211   NaN  5.8  5.6   NaN      NaN  NaN      4.9    18.2
2    20205212   NaN  6.5  6.0   NaN      NaN  NaN      5.5    19.3
3    20205213   NaN  6.8  6.5   NaN      NaN  NaN      6.0    20.1
4    20205214   NaN  7.2  7.2   NaN      NaN  NaN      6.5    20.8
5    20205215   NaN  7.7  7.3   NaN      NaN  NaN      7.6    22.6
6    20205216   NaN  8.0  7.5   NaN      NaN  NaN      8.5    23.5
7    20205217   NaN  9.0  8.8   NaN      NaN  NaN      9.0    23.8

In [48]:
#Trung vị
df.median()

Mã học sinh    20205213.50
Toán                  7.10
Lý                    7.00
Hoá                   6.85
Sinh                  6.40
Ngữ Văn               6.50
Địa                   6.40
Anh Văn               6.25
Khối A               20.45
dtype: float64

In [49]:
#Giá trị trung bình
df.mean()

Mã học sinh    2.020521e+07
Toán           6.800000e+00
Lý             7.075000e+00
Hoá            6.787500e+00
Sinh           5.837500e+00
Ngữ Văn        6.250000e+00
Địa            6.425000e+00
Anh Văn        6.475000e+00
Khối A         2.055000e+01
dtype: float64

In [50]:
#Hợp nhất các dataframeEngineering
df1=pd.DataFrame({'employee':['Bob','Jake','Lisa','Sue'],'group':['Accounting','Engineering','Engineering','HR']})
df2=pd.DataFrame({'employee':['Lisa','Bob','Jake','Sue'],'hire-date':[2004,2008,2012,2014]})
print(df1);
print(df2)

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR
  employee  hire-date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014

In [51]:
df3= pd.merge(df1,df2)
df3

  employee        group  hire-date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

In [52]:
df3 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],'salary': [70000, 80000, 120000, 90000]})
df3

   name  salary
0   Bob   70000
1  Jake   80000
2  Lisa  120000
3   Sue   90000

In [55]:
pd.merge(df1,df3,left_on='employee',right_on='name')

  employee        group  name  salary
0      Bob   Accounting   Bob   70000
1     Jake  Engineering  Jake   80000
2     Lisa  Engineering  Lisa  120000
3      Sue           HR   Sue   90000

In [3]:
#Concat
ser1=pd.Series(['A','B','C'],index=[1,2,3])
ser2=pd.Series(['D','E','F'],index=[4,5,6])
pd.concat([ser1,ser2])

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [4]:
ser1.append(ser2)

C:\Users\Admin\AppData\Local\Temp\ipykernel_9460\739202500.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ser1.append(ser2)

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object