In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.preprocessing import OneHotEncoder
data=np.asarray([['red'],['red'],['yellow'],['green'],['yellow']])
data

array([['red'],
       ['red'],
       ['yellow'],
       ['green'],
       ['yellow']], dtype='<U6')

In [3]:
type(data)

numpy.ndarray

In [4]:
encoder = OneHotEncoder(sparse = False)
onehot = encoder.fit_transform(data)
onehot

array([[0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.]])

In [5]:
dm = ['red','red','yellow','green','yellow']
sr = np.array(dm)
sr=sr.reshape(5,1)
sr

array([['red'],
       ['red'],
       ['yellow'],
       ['green'],
       ['yellow']], dtype='<U6')

In [6]:
onehot = encoder.fit_transform(sr)
onehot

array([[0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.]])

In [7]:
dm = ['red','red','yellow','green','yellow','blue']
sr = np.array(dm)
sr=sr.reshape(-1,1)
sr

array([['red'],
       ['red'],
       ['yellow'],
       ['green'],
       ['yellow'],
       ['blue']], dtype='<U6')

In [8]:
onehot = encoder.fit_transform(sr)
onehot

array([[0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.]])

In [9]:
ser = pd.Series(dm)
ser

0       red
1       red
2    yellow
3     green
4    yellow
5      blue
dtype: object

In [10]:
ser.values

array(['red', 'red', 'yellow', 'green', 'yellow', 'blue'], dtype=object)

In [11]:
onehot = encoder.fit_transform(ser.values.reshape(-1,1))
onehot

array([[0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.]])

In [12]:
df= ['red','red','yellow','green','yellow']
df = pd.DataFrame(df, index=[1,2,3,4,5],columns=['color'])
df

    color
1     red
2     red
3  yellow
4   green
5  yellow

In [13]:
onehot = encoder.fit_transform(df['color'].values.reshape(-1,1))
onehot

array([[0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.]])

In [14]:
#MÃ£ hÃ³a vá»i pandas
pd.get_dummies(df)

   color_green  color_red  color_yellow
1            0          1             0
2            0          1             0
3            0          0             1
4            1          0             0
5            0          0             1

In [15]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
lb = encoder.fit_transform(['red','red','yellow','green','yellow'])
lb

array([1, 1, 2, 0, 2], dtype=int64)

In [16]:
df

    color
1     red
2     red
3  yellow
4   green
5  yellow

In [17]:
#Tráº£ vá» dÆ°á»i dáº¡ng array
lb= encoder.fit_transform(df['color'].values)
lb

array([1, 1, 2, 0, 2])

In [18]:
#MÃ£ hÃ³a vá»i pandas
df['color'].dtype

dtype('O')

In [19]:
#Tráº£ vá» dÆ°á»i dáº¡ng frame
df['color'].astype('category').cat.codes

1    1
2    1
3    2
4    0
5    2
dtype: int8

In [20]:
a=df['color'].unique()
label = [i for i in range(len(a))]
_dict={a[i]: i for i in range(len(a))}
encoded = []
for i in df['color'].values:
    if i in _dict.keys():
        encoded.append(_dict[i])
encoded = pd.DataFrame(encoded)
encoded

   0
0  0
1  0
2  1
3  2
4  1

In [21]:
a=df['color'].unique()
a=sorted(a)
label = [i for i in range(len(a))]
_dict={a[i]: i for i in range(len(a))}
encoded = []
for i in df['color'].values:
    if i in _dict.keys():
        encoded.append(_dict[i])
encoded = pd.DataFrame(encoded)
encoded

   0
0  1
1  1
2  2
3  0
4  2

In [22]:
#MÃ£ hÃ³a vá»i scikit-learn
from sklearn.preprocessing import OrdinalEncoder
enc = OrdinalEncoder()
X= [['S',1],['M',2],['L',3]]
enc.fit_transform(X)

array([[2., 0.],
       [1., 1.],
       [0., 2.]])

In [23]:
df = pd.DataFrame({'Score':["Low","Low","Medium","Medium","High","Medium","High","Low"]})

In [24]:
scale_mapper = {"Low":1, "Medium":2,"High":3}
df['Scale']=df['Score'].replace(scale_mapper)
df

    Score  Scale
0     Low      1
1     Low      1
2  Medium      2
3  Medium      2
4    High      3
5  Medium      2
6    High      3
7     Low      1

In [25]:
ages=[20,22,25,27,21,23,37,31,61,45,41,32]
bins=[18,25,35,60,100]
pd.cut(ages,bins)

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64, right]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [26]:
#Tá»± Äá»ng chia nhÃ³m
cut_data= pd.cut(ages,4)
cut_data

[(19.959, 30.25], (19.959, 30.25], (19.959, 30.25], (19.959, 30.25], (19.959, 30.25], ..., (30.25, 40.5], (50.75, 61.0], (40.5, 50.75], (40.5, 50.75], (30.25, 40.5]]
Length: 12
Categories (4, interval[float64, right]): [(19.959, 30.25] < (30.25, 40.5] < (40.5, 50.75] < (50.75, 61.0]]

In [27]:
cut_data= pd.qcut(ages,4)
cut_data

[(19.999, 22.75], (19.999, 22.75], (22.75, 29.0], (22.75, 29.0], (19.999, 22.75], ..., (29.0, 38.0], (38.0, 61.0], (38.0, 61.0], (38.0, 61.0], (29.0, 38.0]]
Length: 12
Categories (4, interval[float64, right]): [(19.999, 22.75] < (22.75, 29.0] < (29.0, 38.0] < (38.0, 61.0]]

In [28]:
genes=pd.read_csv(r'C:\Users\Admin\resources\gene_expression.csv',encoding = 'utf-8')
genes

,G1,G2,G3,G4,G5,G6,G7,G8,G9,G10,...,G91,G92,G93,G94,G95,G96,G97,G98,G99,G100
0,0.096999,0.227366,0.431403,0.350564,0.614166,0.037278,0.608806,0.402018,0.024301,0.534258,...,0.520794,0.348856,0.648020,0.460299,0.422432,0.640388,0.238413,0.651695,0.536379,0.640927
1,0.140357,0.116043,0.498218,0.286252,0.708196,0.037699,0.645638,0.447637,0.031831,0.444297,...,0.609565,0.446938,0.655062,0.370700,0.522416,0.594598,0.209250,0.590257,0.561454,0.548147
2,0.075864,0.215462,0.245413,0.263025,0.695526,0.057789,0.659812,0.423609,0.005288,0.504874,...,0.720783,0.311021,0.637153,0.415287,0.405801,0.523387,0.278230,0.551977,0.588909,0.571148
3,0.081394,0.193503,0.561137,0.133510,0.657569,0.053319,0.534083,0.415155,0.010994,0.408166,...,0.670272,0.498790,0.549552,0.368304,0.392148,0.643276,0.351833,0.681212,0.554729,0.498315
4,0.146972,0.019467,0.520126,0.200362,0.289476,0.146236,0.522055,0.325684,0.009394,0.345423,...,0.656710,0.488208,0.530460,0.392846,0.365890,0.637134,0.240219,0.672030,0.520975,0.643914
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.136612,0.218060,0.410735,0.309124,0.623771,0.057232,0.758860,0.430003,0.002582,0.463476,...,0.702393,0.469732,0.639036,0.406945,0.464915,0.352919,0.368327,0.645155,0.459091,0.582123
96,0.181643,0.254944,0.502419,0.445739,0.604940,0.070491,0.521393,0.399001,0.007459,0.497652,...,0.678336,0.351175,0.651234,0.448695,0.483983,0.610818,0.143644,0.564751,0.593970,0.798616
97,0.086596,0.248284,0.417322,0.325038,0.642527,0.050735,0.553526,0.410098,0.044201,0.425274,...,0.585763,0.481626,0.624413,0.323185,0.538718,0.611075,0.256141,0.455464,0.264548,0.557122
98,0.154695,0.240120,0.572381,0.305699,0.612217,0.034965,0.692328,0.418754,0.026105,0.553897,...,0.551415,0.451893,0.601532,0.403350,0.589157,0.586016,0.301276,0.662294,0.233315,0.577539
99,0.148716,0.177830,0.536524,0.368034,0.599262,0.068033,0.719219,0.378219,0.009443,0.494733,...,0.575103,0.464262,0.676459,0.479599,0.472632,0.655524,0.267327,0.621181,0.500910,0.335473

In [29]:
genes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 100 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   G1      100 non-null    float64
 1   G2      100 non-null    float64
 2   G3      100 non-null    float64
 3   G4      100 non-null    float64
 4   G5      100 non-null    float64
 5   G6      100 non-null    float64
 6   G7      100 non-null    float64
 7   G8      100 non-null    float64
 8   G9      100 non-null    float64
 9   G10     100 non-null    float64
 10  G11     100 non-null    float64
 11  G12     100 non-null    float64
 12  G13     100 non-null    float64
 13  G14     100 non-null    float64
 14  G15     100 non-null    float64
 15  G16     100 non-null    float64
 16  G17     100 non-null    float64
 17  G18     100 non-null    float64
 18  G19     100 non-null    float64
 19  G20     100 non-null    float64
 20  G21     100 non-null    float64
 21  G22     100 non-null    float64
 22  G23     100 non-null    float64
 23  G24     100 non-null    float64
 24  G25     100 non-null    float64
 25  G26     100 non-null    float64
 26  G27     100 non-null    float64
 27  G28     100 non-null    float64
 28  G29     100 non-null    float64
 29  G30     100 non-null    float64
 30  G31     100 non-null    float64
 31  G32     100 non-null    float64
 32  G33     100 non-null    float64
 33  G34     100 non-null    float64
 34  G35     100 non-null    float64
 35  G36     100 non-null    float64
 36  G37     100 non-null    float64
 37  G38     100 non-null    float64
 38  G39     100 non-null    float64
 39  G40     100 non-null    float64
 40  G41     100 non-null    float64
 41  G42     100 non-null    float64
 42  G43     100 non-null    float64
 43  G44     100 non-null    float64
 44  G45     100 non-null    float64
 45  G46     100 non-null    float64
 46  G47     100 non-null    float64
 47  G48     100 non-null    float64
 48  G49     100 non-null    float64
 49  G50     100 non-null    float64
 50  G51     100 non-null    float64
 51  G52     100 non-null    float64
 52  G53     100 non-null    float64
 53  G54     100 non-null    float64
 54  G55     100 non-null    float64
 55  G56     100 non-null    float64
 56  G57     100 non-null    float64
 57  G58     100 non-null    float64
 58  G59     100 non-null    float64
 59  G60     100 non-null    float64
 60  G61     100 non-null    float64
 61  G62     100 non-null    float64
 62  G63     100 non-null    float64
 63  G64     100 non-null    float64
 64  G65     100 non-null    float64
 65  G66     100 non-null    float64
 66  G67     100 non-null    float64
 67  G68     100 non-null    float64
 68  G69     100 non-null    float64
 69  G70     100 non-null    float64
 70  G71     100 non-null    float64
 71  G72     100 non-null    float64
 72  G73     100 non-null    float64
 73  G74     100 non-null    float64
 74  G75     100 non-null    float64
 75  G76     100 non-null    float64
 76  G77     100 non-null    float64
 77  G78     100 non-null    float64
 78  G79     100 non-null    float64
 79  G80     100 non-null    float64
 80  G81     100 non-null    float64
 81  G82     100 non-null    float64
 82  G83     100 non-null    float64
 83  G84     100 non-null    float64
 84  G85     100 non-null    float64
 85  G86     100 non-null    float64
 86  G87     100 non-null    float64
 87  G88     100 non-null    float64
 88  G89     100 non-null    float64
 89  G90     100 non-null    float64
 90  G91     100 non-null    float64
 91  G92     100 non-null    float64
 92  G93     100 non-null    float64
 93  G94     100 non-null    float64
 94  G95     100 non-null    float64
 95  G96     100 non-null    float64
 96  G97     100 non-null    float64
 97  G98     100 non-null    float64
 98  G99     100 non-null    float64
 99  G100    100 non-null    float64
dtypes: float64(100)
memory usage: 78.2 KB

In [30]:
genes.describe()

,G1,G2,G3,G4,G5,G6,G7,G8,G9,G10,...,G91,G92,G93,G94,G95,G96,G97,G98,G99,G100
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,0.144753,0.238131,0.497430,0.348363,0.640078,0.044626,0.632779,0.411069,0.018478,0.457512,...,0.624771,0.427851,0.633764,0.409029,0.452488,0.625421,0.261226,0.640700,0.550504,0.639582
std,0.044210,0.049367,0.063223,0.057892,0.070170,0.018359,0.071070,0.060253,0.013653,0.064508,...,0.069455,0.062839,0.076273,0.066583,0.066099,0.062885,0.043232,0.067306,0.076958,0.072268
min,0.075864,0.019467,0.245413,0.133510,0.289476,0.012726,0.423266,0.230732,0.001901,0.232383,...,0.270370,0.179199,0.304601,0.114740,0.191925,0.352919,0.143644,0.455464,0.233315,0.335473
25%,0.123418,0.214310,0.465339,0.309886,0.600458,0.032286,0.587005,0.371785,0.009581,0.424590,...,0.585241,0.399608,0.590614,0.371815,0.413245,0.583688,0.232854,0.596074,0.511474,0.596072
50%,0.144430,0.236107,0.498217,0.345333,0.642243,0.042361,0.624626,0.405469,0.016753,0.455546,...,0.624864,0.425329,0.629857,0.407328,0.456374,0.626779,0.260245,0.635023,0.553772,0.641620
75%,0.161552,0.263767,0.537322,0.378380,0.680568,0.053851,0.673638,0.456319,0.022906,0.495078,...,0.669081,0.463704,0.676496,0.449498,0.493140,0.673498,0.285032,0.674537,0.584104,0.682374
max,0.430073,0.345238,0.660628,0.503123,0.785567,0.146236,0.870245,0.551860,0.099483,0.640334,...,0.786292,0.555481,0.842580,0.548902,0.589157,0.734597,0.368327,0.835367,0.743485,0.826818

In [31]:
G1_cut=pd.cut(genes['G1'],3)
G1_cut

0     (0.0755, 0.194]
1     (0.0755, 0.194]
2     (0.0755, 0.194]
3     (0.0755, 0.194]
4     (0.0755, 0.194]
           ...
95    (0.0755, 0.194]
96    (0.0755, 0.194]
97    (0.0755, 0.194]
98    (0.0755, 0.194]
99    (0.0755, 0.194]
Name: G1, Length: 100, dtype: category
Categories (3, interval[float64, right]): [(0.0755, 0.194] < (0.194, 0.312] < (0.312, 0.43]]

In [32]:
encoder = LabelEncoder()
lb = encoder.fit_transform(G1_cut.values)
lb

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [33]:
kq= pd.DataFrame(i for i in range(0,100))
kq

     0
0    0
1    1
2    2
3    3
4    4
..  ..
95  95
96  96
97  97
98  98
99  99

[100 rows x 1 columns]

In [34]:
for i in genes.columns:
    cut_ = pd.cut(genes[i],3)
    kq[i] = encoder.fit_transform(cut_.values)
kq

C:\Users\Admin\AppData\Local\Temp\ipykernel_19256\3247682930.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  kq[i] = encoder.fit_transform(cut_.values)

,0,G1,G2,G3,G4,G5,G6,G7,G8,G9,...,G91,G92,G93,G94,G95,G96,G97,G98,G99,G100
0,0,0,1,1,1,1,0,1,1,0,...,1,1,1,2,1,2,1,1,1,1
1,1,0,0,1,1,2,0,1,2,0,...,1,2,1,1,2,1,0,1,1,1
2,2,0,1,0,1,2,1,1,1,0,...,2,1,1,2,1,1,1,0,2,1
3,3,0,1,2,0,2,0,0,1,0,...,2,2,1,1,1,2,2,1,1,0
4,4,0,0,1,0,0,2,0,0,0,...,2,2,1,1,1,2,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,0,1,1,1,2,1,2,1,0,...,2,2,1,2,2,0,2,1,1,1
96,96,0,2,1,2,1,1,0,1,0,...,2,1,1,2,2,2,0,0,2,2
97,97,0,2,1,1,2,0,0,1,1,...,1,2,1,1,2,2,1,0,0,1
98,98,0,2,2,1,1,0,1,1,0,...,1,2,1,1,2,1,2,1,0,1
99,99,0,1,2,1,1,1,1,1,0,...,1,2,2,2,2,2,1,1,1,0

In [35]:
#for i in genes.columns:
    #cut_ = pd.cut(genes[i],3)
    #lb = encoder.fit_transform(cut_.values)
    #genes[i]=lb

In [37]:
re_genes=pd.DataFrame()
for i in range(len(genes.columns)):
    ge=pd.cut(genes[f'G{i+1}'],3,labels=[0,1,2])
    re_genes[f'G{i+1}'] = ge
re_genes

,G1,G2,G3,G4,G5,G6,G7,G8,G9,G10,...,G91,G92,G93,G94,G95,G96,G97,G98,G99,G100
0,0,1,1,1,1,0,1,1,0,2,...,1,1,1,2,1,2,1,1,1,1
1,0,0,1,1,2,0,1,2,0,1,...,1,2,1,1,2,1,0,1,1,1
2,0,1,0,1,2,1,1,1,0,2,...,2,1,1,2,1,1,1,0,2,1
3,0,1,2,0,2,0,0,1,0,1,...,2,2,1,1,1,2,2,1,1,0
4,0,0,1,0,0,2,0,0,0,0,...,2,2,1,1,1,2,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,1,1,1,2,1,2,1,0,1,...,2,2,1,2,2,0,2,1,1,1
96,0,2,1,2,1,1,0,1,0,1,...,2,1,1,2,2,2,0,0,2,2
97,0,2,1,1,2,0,0,1,1,1,...,1,2,1,1,2,2,1,0,0,1
98,0,2,2,1,1,0,1,1,0,2,...,1,2,1,1,2,1,2,1,0,1
99,0,1,2,1,1,1,1,1,0,1,...,1,2,2,2,2,2,1,1,1,0